.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.chat {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
}

.side-bar1 {
  height: 100px;
  padding: 0 20px;
}

.side-bar2 {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}

.chat1 {
  height: 100px;
  padding:  40px;
}

.chat2 {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
}

.chat3 {
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}